backend_python/.env
backend_python/*.db
backend_python/__pycache__/
backend_python/**/__pycache__/
backend_python/uploads/*
frontend/node_modules/
frontend/dist/
frontend/.env
backend/target/
backend/uploads/
*.pyc
*.log